<header>
  
  <nav class="navbar">
    <ul class="navlist">
      <li><button type="button" class="navitem" id="create-picz-button"><p>Create Picz</p></button></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
      </li>
    </ul>

</header>
