<article class="pic">
  <img src="{{link}}" class="pic-thumbnail" />
  <div class="openedPic hidden">
    <h3 class="picTitle"> {{title}} </h3>
    <button type="button" class="pic-close-button">&times;</button>
    <button type="button" class="add-tag-button"><p>Add Tag</p></button>
    <button type="button" class="pic-delete-button"><p>Delete Pic</p></button>
	  <img src="{{link}}" class="pic-image" />
    <a href=""></a>
    <ul class="tags">{{tags}}</ul>
  </div>
</article>
