<article class="pic">
  <img src="{{link}}" class="pic-thumbnail" />
  <div class="openedPic hidden">
    <h3 class="picTitle"> {{title}} </h3>
    <button type="button" class="pic-close-button">&times;</button>
    <button type="button" class="pic-delete-button">Delete Pic</button>
	  <img src="{{link}}" class="pic-image" />
    <a href=""></a>
  </div>
</article>
