<header>

  <a href="/"><h1 class="site-title"><i class="fas fa-camera"></i>Piczer</h1></a>
  
  <nav class="navbar">
    <ul class="navlist">
      <li><button type="button" class="navitem" id="create-picz-button"><p>Create Picz</p></button></li>
      {{subName}}
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
      </li>
    </ul>
  </nav>

<header>

<main class="home-page">

<div class="backdrop hidden"></div>

<main class="picz-container">

  {{#each pics}}
    {{> pic}}
  {{/each}}

</main>

<div id="create-pic-modal" class="hidden">

  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Pic</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="pic-input-element">
        <label for="pic-title-input">Pic Title</label>
        <textarea id="pic-title-input"></textarea>
      </div>

      <div class="pic-input-element">
        <label for="pic-link-input">Pic Link</label>
        <input type="text" id="pic-link-input">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="modal-close-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Pic</button>
    </div>

  </div>

</div>
